@model mvcNHS.DAL.Parent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Parent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ODSCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ODSCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parent_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parent_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Parent_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
