@model mvcNHS.DAL.ServicesOrganisation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ServicesOrganisation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GP_Services.GP_Service_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GP_Services.GP_Service_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organisation_Details.Organisation_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organisation_Details.Organisation_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Services_Organisation_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
